ion-row{
    height: 19vh;
}

ion-button{
    height: 100%;
    width: 100%;
    border-width: 10px;
    border-color: black;
}

.imagenD{
    height: 10vh;
    position: absolute;
    right: 6vw;
    
}
.imagenI{
    height: 10vh;
    position: absolute;
    left: 6vw;
    
}
A
.texto h1{
    font-size: 6vh;
}
.texto{
    position: absolute;
    left: 8vw;
}

.chat{
    height: 10vh;
    position: absolute;
    right: 8vw;
}