<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img
        class="vale-logo"
        alt="Boton con el logo de Vale para ir atrás."
        routerLink="/grupos"
        src="../../assets/images/vale-logo.png"
      />
    </ion-buttons>
    <ion-title>
      {{(this.editar)? "Editar Grupo: "+ this.grupo.nombre :"Añadir grupo"}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="log" [hidden]="this.seleccionarPersonas">
    <ion-item class="introducir">
      <ion-label position="floating" color="black">Nombre del grupo</ion-label>
      <ion-input type="text" [(ngModel)]="grupo.nombre"></ion-input>
    </ion-item>

    <ion-button
      (click)="cambiarVentana()"
      color="vale-primary"
      shape="round"
      size="small"
      expand="block"
      class="boton"
    >
      Seleccionar Personas
    </ion-button>

    <ion-button
      (click)="registrar()"
      color="vale-primary"
      shape="round"
      size="small"
      expand="block"
      class="boton"
    >
    {{(this.editar)?"Editar grupo":"Crear grupo"}}
    </ion-button>
  </div>
  <div [hidden]="!this.seleccionarPersonas">
    <ion-searchbar
      (ionInput)="filterList($event)"
      showCancelButton="focus"
    ></ion-searchbar>

    <div
    class="subscroll"
    id="myFixZone"
    scrollY="true">
      <ion-list>
        <ion-item *ngFor="let i of indexPersonas" class="persona-item">
          <ion-label>{{this.personas[i].fullname}}</ion-label>
          <ion-checkbox
            slot="start"
            [(ngModel)]="this.personas[i].isChecked"
            color="vale-secondary"
          ></ion-checkbox>
          <ion-thumbnail slot="end">
            <img src="{{this.personas[i].foto}}" />
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-footer [hidden]="!this.seleccionarPersonas">
    <div class="div-listo">
      <ion-button
        class="listo"
        (click)="cambiarVentana()"
        color="vale-primary"
        shape="round"
        size="small"
      >
        Listo
      </ion-button>
    </div>
  </ion-footer>
</ion-content>
