ion-row{
    height: 22.5vh;
}

ion-button{
    height: 100%;
    width: 100%;
    border-width: 10px;
    border-color: black;
}

.imagen{
    height: 18vh;
}

.texto h1{
    font-size: 4vh;
}
.texto{
    position: absolute;
    left: 8vw;
}

.chat{
    height: 10vh;
    position: absolute;
    right: 8vw;
}