<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="vale-logo" alt="Boton con el logo de Vale para ir atrás." routerLink='/menufacilitador' src="../../../assets/images/vale-logo.png">
    </ion-buttons>
    <ion-title>
      Todos los Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar (ionInput)="filterList($event)" showCancelButton="focus"></ion-searchbar>

<ion-content>
  <ion-grid>
    <ion-row   class="opciones">
      <ion-col class="opcionesChiquitas">
        <ion-button color="{{(this.borradores)? 'purple':'white'}}" (click)="this.Borradores()">
          Borradores
        </ion-button>
      </ion-col>
      <ion-col class="opcionesChiquitas">
        <ion-button color="{{(this.borradores)? 'white':'purple'}}" (click)="this.Enviados()">
          Enviados
        </ion-button>
      </ion-col>
      <ion-col class="opcionesChiquitas">
        <ion-button color="danger" routerLink='/crearejercicio/nuevo'>
          Nuevo
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="vale-primary" [hidden]="isHidden1()" (click)="opcionesGeneral(0)">
          <div class="texto" style="color: white"><h1>{{ this.getName1() }}</h1></div>
          <img class="imagen" alt="Foto del ejercicio" src="{{ this.getIcon1() }}">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="vale-primary" [hidden]="isHidden2()" (click)="opcionesGeneral(1)">
          <div class="texto" style="color: white"><h1>{{ this.getName2() }}</h1></div>
          <img class="imagen" alt="Foto del ejercicio" src="{{ this.getIcon2() }}">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="vale-primary" [hidden]="isHidden3()" (click)="opcionesGeneral(2)">
          <div class="texto" style="color: white"><h1>{{ this.getName3() }}</h1></div>
          <img class="imagen" alt="Foto del ejercicio" src="{{ this.getIcon3() }}">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="previousPage()" color="transparent" [class.button-disabled]="isPButtonDisable()">
          <img class="imagenI" alt="Flecha para ir a la izquierda" src="../../../assets/icon/flechaI.png">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="nextPage()" color="transparent" [class.button-disabled]="isNButtonDisable()">
          <img class="imagenD" alt="Flecha para ir a la derecha" src="../../../assets/icon/flechaD.png">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>